{{block head}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

<title>{{=response.title}}</title>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap');
         
	* {
		font-family: 'Poppins', sans-serif;
	}

	.back-btn-row form {
		height: 20px;
		width: 60px;
		margin-bottom: 10px;
		padding: 5px 5px 5px 10px;
		font-size: 13px;
		border: 0;
        border-radius: 20px;
		cursor: pointer;
		color: {{=session.button_text_color}};
		background-color: {{=session.button_color}}
	}

	.back-btn-row input {
		border: 0;
		cursor: pointer;
		color: {{=session.button_text_color}};
		background-color: {{=session.button_color}}
	}

	.forecast-table {
		border: 1px solid black;
		border-collapse: collapse;
		overflow: auto;
	}

	/* .forecast-table th {	
		padding: 5px;
		height: 40px;
		font-weight: 500;
		font-size: 13px;
		text-align: right;
		border: 1px solid black;
		color: {{=session.button_text_color}};
		background-color: {{=session.button_color}}
	} */

	/* .forecast-table td {
		height: 30px;
		font-size: 12px;
		text-align: right;
		padding-right: 5px;
		border: 1px solid rgb(194, 194, 194);
	} */

	.forecast-table th:nth-child(1),
    .forecast-table th:nth-child(2) {
        padding: 5px;
		height: 40px;
		font-weight: 500;
		font-size: 13px;
		text-align: right;
		border: 1px solid black;
		color: {{=session.button_text_color}};
		background-color: {{=session.button_color}}
        
    }
    .forecast-table td:nth-child(1),
    .forecast-table td:nth-child(2) {
        height: 30px;
		font-size: 12px;
		text-align: right;
		padding-right: 5px;
		border: 1px solid rgb(194, 194, 194);
        /* background-color: rgba(255, 255, 255, 1); Change the color as needed */
    }

    .forecast-table tr:nth-child(odd) td:nth-child(1),
    .forecast-table tr:nth-child(odd) td:nth-child(2) {
        background-color: {{=session.bg_color}}
    }

    .forecast-table tr:nth-child(even) td:nth-child(1),
    .forecast-table tr:nth-child(even) td:nth-child(2) {
        background-color: #eefaec;
    }

    .forecast-table th:nth-child(n+3) {
        padding: 5px;
		height: 40px;
		font-weight: 500;
		font-size: 13px;
		text-align: right;
		border: 1px solid black;
		color: {{=session.button_text_color}};
		background-color: {{=session.button_color}}
    }
    .forecast-table td:nth-child(n+3) {
        height: 30px;
		font-size: 12px;
		text-align: right;
		padding-right: 5px;
		border: 1px solid rgb(194, 194, 194);
    }

	.forecast-table tr:nth-child(even) {
		background-color: #eefaec;
	}

	input[type=text] {
		height: 20px;
		width: 95px;
		border: 1px solid rgb(204, 204, 204);
		border-radius: 2px;
		background-color: transparent;
        text-align: right;
	}

	input[type=text]::placeholder {
		color: black;
	}

	.submit-btn-row {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.submit-btn-row form {
	/* input[type=submit] { */
		height: 20px;
		width: 60px;
		margin-bottom: 10px;
		padding: 5px 5px 5px 10px;
		font-size: 13px;
		border: 1px solid {{=session.text_color}};
        border-radius: 20px;
		cursor: pointer;
		color: {{=session.button_text_color}};
		background-color: {{=session.button_color}}
	}

	.submit-btn-row input {
		border: 0;
		cursor: pointer;
		color: {{=session.button_text_color}};
		background-color: {{=session.button_color}}
	}

	#flashMessage {
		font-size: 12px;
        font-weight: 400;
        margin-top: 5px;
	}
</style>

<script>
	// function checkValue(inputField) {
	// 	if (inputField.value === '') {
	// 		inputField.value = '0'; // Set value to 0 if empty
	// 	}
	// }

	document.addEventListener("DOMContentLoaded", function() {
		var flashMessage = document.getElementById("flashMessage");

		if (flashMessage) {
			flashMessage.style.display = "inline";
			
			setTimeout(function() {
				flashMessage.style.display = "none";
			}, 3000); // 3000 milliseconds = 3 seconds
		}
	});

	// TO CHECK FOR TYPE OF INPUT
	document.getElementById('qty_input').addEventListener('input', function (e) {
		const value = this.value;
		
		// RegEx => only numbers and 1 optional decimal point, and 2 d.p.
		const regex = /^\d+(\.\d{0,2})?$/;

		// If the value does not match the regex, remove the last character
		if (!regex.test(value)) {
			this.value = value.slice(0, -1);
		}
	});
</script>
{{end}}

<!-- Back btn row  -->
<table class="back-btn-row">
    <tr>
        <td>
			{{if session.user_type == 'sup':}}
				<form action="{{=URL(c='forcasting',f='forcasting_for_sup')}}" method="post">
					<i class="fa-solid fa-arrow-left"></i>
					<input name="prev_page_btn" type="submit" value="Back"/>
				</form>
			{{elif session.user_type == 'rep':}}
				<form action="{{=URL(c='forcasting',f='forcasting_for_mpo')}}" method="post">
					<i class="fa-solid fa-arrow-left"></i>
					<input name="prev_page_btn" type="submit" value="Back"/>
				</form>
			{{pass}}
        </td>
    </tr>
</table>

<!-- Forecast Table -->
{{if length == 0:}}
	<table class="forecast-table" style="width: 2800px;">
		<form name="form1" action="{{=URL(c='forcasting',f='forcasting_sup_edit')}}" method="post">
			{{
				block_item_list = []
				get_item_date_sql = f"SELECT * FROM block_item WHERE cid = '{session.cid}' AND status = 'ACTIVE' ORDER BY item_id;"
				get_item_date = db.executesql(get_item_date_sql, as_dict = True)
	
				if len(get_item_date) != 0:
					for data_rec in get_item_date:
						blocked_item_id = str(data_rec['item_id'])
						blocked_months = str(data_rec['blocked_months'])
						block_item_list.append((blocked_item_id, blocked_months.split(', ')))
					pass
			}}
					<tr class="all_forecast">
						<th style="position: sticky; left: 0; z-index: 1; width: 80px; text-align: left;">Item Code</th>
						<th style="position: sticky; left: 80px; z-index: 1; width: 220px; text-align: left;">Item Name</th>
						<th style="width: 70px; text-align: left;">UoM</th>
						{{for month in months:}}
							<th style="width: 100px;">{{=month}}</th>
						{{pass}}
					</tr>
					{{for item in item_rec:}}
						<tr class="single_row">
							<td style="position: sticky; left: 0; z-index: 1; text-align: left; padding-left: 5px;">{{=item['item_id']}}</td>
							<td style="position: sticky; left: 80px; z-index: 1; text-align: left; padding-left: 5px;">{{=item['name']}}</td>
							<td style="text-align: left; padding-left: 5px;">{{=item['unit_type']}}</td>
							<input type="hidden" name="item_code" value="{{=item['item_id']}}">
							{{blocked_months = []}}
							{{for block_item in block_item_list:}}
								{{if block_item[0] == item['item_id']:}}
									{{blocked_months = block_item[1]}}
								{{pass}}
							{{pass}}
							{{for i in range(len(months)):}}
								{{month = months[i]}}
								{{if month in blocked_months:}}
									<td>
										<input type="text" id="qty_input" name="input{{=i+1}}" pattern="^\d+(\.\d{1,2})?$" value="0" disabled  style="background-color: rgb(248, 48, 48);">
										<input type="hidden" name="input{{=i+1}}" pattern="^\d+(\.\d{1,2})?$">
									</td>
								{{else:}}
									<td><input type="text" id="qty_input" name="input{{=i+1}}" pattern="^\d+(\.\d{1,2})?$"></td>
								{{pass}}
							{{pass}}
						</tr>
					{{pass}}
				{{else:}}
					<tr class="all_forecast">
						<th style="position: sticky; left: 0; z-index: 1; width: 80px; text-align: left;">Item Code</th>
						<th style="position: sticky; left: 80px; z-index: 1; width: 220px; text-align: left;">Item Name</th>
						<th style="width: 70px; text-align: left;">UoM</th>
						{{for month in months:}}
							<th style="width: 100px;">{{=month}}</th>
						{{pass}}
					</tr>
					{{for i in range(len(item_rec)):
						item = item_rec[i]
						item_code = str(item["item_id"])
						item_name = str(item["name"])
						UoM = str(item["unit_type"])}}
						<tr class="single_row">
							<td style="position: sticky; left: 0; z-index: 1; text-align: left; padding-left: 5px;">{{=item_code}}</td>
							<td style="position: sticky; left: 80px; z-index: 1; text-align: left; padding-left: 5px;">{{=item_name}}</td>
							<td style="text-align: left; padding-left: 5px;">{{=UoM}}</td>
							{{if status != 'POSTED' or status != 'APPROVED':}}
								<td><input type="text" id="qty_input" name="input1" pattern="^\d+(\.\d{1,2})?$"></td>
								<td><input type="text" id="qty_input" name="input2" pattern="^\d+(\.\d{1,2})?$"></td>
								<td><input type="text" id="qty_input" name="input3" pattern="^\d+(\.\d{1,2})?$"></td>
								<td><input type="text" id="qty_input" name="input4" pattern="^\d+(\.\d{1,2})?$"></td>
								<td><input type="text" id="qty_input" name="input5" pattern="^\d+(\.\d{1,2})?$"></td>
								<td><input type="text" id="qty_input" name="input6" pattern="^\d+(\.\d{1,2})?$"></td>
								<td><input type="text" id="qty_input" name="input7" pattern="^\d+(\.\d{1,2})?$"></td>
								<td><input type="text" id="qty_input" name="input8" pattern="^\d+(\.\d{1,2})?$"></td>
								<td><input type="text" id="qty_input" name="input9" pattern="^\d+(\.\d{1,2})?$"></td>
								<td><input type="text" id="qty_input" name="input10" pattern="^\d+(\.\d{1,2})?$"></td>
								<td><input type="text" id="qty_input" name="input11" pattern="^\d+(\.\d{1,2})?$"></td>
								<td><input type="text" id="qty_input" name="input12" pattern="^\d+(\.\d{1,2})?$"></td>
								<td><input type="text" id="qty_input" name="input13" pattern="^\d+(\.\d{1,2})?$"></td>
								<td><input type="text" id="qty_input" name="input14" pattern="^\d+(\.\d{1,2})?$"></td>
								<td><input type="text" id="qty_input" name="input15" pattern="^\d+(\.\d{1,2})?$"></td>
								<td><input type="text" id="qty_input" name="input16" pattern="^\d+(\.\d{1,2})?$"></td>
								<td><input type="text" id="qty_input" name="input17" pattern="^\d+(\.\d{1,2})?$"></td>
								<td><input type="text" id="qty_input" name="input18" pattern="^\d+(\.\d{1,2})?$"></td>
							{{else:}}
								<td>{{=month1}}</td>
								<td>{{=month2}}</td>
								<td>{{=month3}}</td>
								<td>{{=month4}}</td>
								<td>{{=month5}}</td>
								<td>{{=month6}}</td>
								<td>{{=month7}}</td>
								<td>{{=month8}}</td>
								<td>{{=month9}}</td>
								<td>{{=month10}}</td>
								<td>{{=month11}}</td>
								<td>{{=month12}}</td>
								<td>{{=month13}}</td>
								<td>{{=month14}}</td>
								<td>{{=month15}}</td>
								<td>{{=month16}}</td>
								<td>{{=month17}}</td>
								<td>{{=month18}}</td>
							{{pass}}
							<input type="hidden" name="item_code" value="{{=item_code}}">
						</tr>
					{{pass}}
				{{pass}}

			{{if status != 'POSTED' or status != 'APPROVED':}}
				{{if ((opening_date <= current_date) and (current_date <= closing_date)):}}
					<input name="submit_btn_new" type="submit" value="Update" style="height: 30px; width: 80px; margin: 0px 10px 10px 0px; padding: 5px 5px 5px 10px; font-size: 13px; border: 1px solid {{=session.text_color}}; border-radius: 20px; cursor: pointer; color: {{=session.button_text_color}}; background-color: {{=session.button_color}}"/>
					<input name="post_btn" type="submit" value="Post" style="height: 30px; width: 80px; margin: 0px 10px 10px 0px; padding: 5px 5px 5px 10px; font-size: 13px; border: 1px solid {{=session.text_color}}; border-radius: 20px; cursor: pointer; color: {{=session.button_text_color}}; background-color: {{=session.button_color}}"/>
				{{else:}}
					<input name="submit_btn_new" type="submit" value="Update" style="height: 30px; width: 80px; margin: 0px 10px 10px 0px; padding: 5px 5px 5px 10px; font-size: 13px; border: 1px solid #949494; border-radius: 20px; cursor: pointer; color: #949494; background-color: #d6d6d6" disabled/>
					<input name="post_btn" type="submit" value="Post" style="height: 30px; width: 80px; margin: 0px 10px 10px 0px; padding: 5px 5px 5px 10px; font-size: 13px; border: 1px solid #949494; border-radius: 20px; cursor: pointer; color: #949494; background-color: #d6d6d6" disabled/>
				{{pass}}
						
			{{else:}}
				<input name="submit_btn_new" type="submit" value="Update" style="height: 30px; width: 80px; margin: 0px 10px 10px 0px; padding: 5px 5px 5px 10px; font-size: 13px; border: 1px solid #949494; border-radius: 20px; cursor: pointer; color: #949494; background-color: #d6d6d6" disabled/>
				<input name="post_btn" type="submit" value="Post" style="height: 30px; width: 80px; margin: 0px 10px 10px 0px; padding: 5px 5px 5px 10px; font-size: 13px; border: 1px solid #949494; border-radius: 20px; cursor: pointer; color: #949494; background-color: #d6d6d6" disabled/>
			{{pass}}
		</form>
	</table>
{{else:}}
	<table class="forecast-table" style="width: 2800px;">
		<form name="form1" action="{{=URL(c='forcasting',f='forcasting_sup_edit')}}" method="post">
		{{
			block_item_list = []
			get_item_date_sql = f"SELECT * FROM block_item WHERE cid = '{session.cid}' AND status = 'ACTIVE' ORDER BY item_id;"
			get_item_date = db.executesql(get_item_date_sql, as_dict = True)

			if len(get_item_date) != 0:
				for data_rec in get_item_date:
					blocked_item_id = str(data_rec['item_id'])
					blocked_months = str(data_rec['blocked_months'])
					block_item_list.append((blocked_item_id, blocked_months.split(', ')))
				pass
		}}	
				<!-- month row  -->
				<tr class="all_forecast">
					<th style="position: sticky; left: 0; z-index: 1; width: 80px; text-align: left;">Item Code</th>
					<th style="position: sticky; left: 80px; z-index: 1; width: 220px; text-align: left;">Item Name</th>
					<th style="width: 70px; text-align: left;">UoM</th>
					{{for i in range(len(forecast_records)):
						forecast = forecast_records[i]
						item_code = str(forecast["item_code"])
						item_name = str(forecast["item_name"])
						UoM = str(forecast["UoM"])
						forcasting_first_date = str(forecast['forcasting_first_date'])
						month1 = str(forecast["month1"])
						month2 = str(forecast["month2"])
						month3 = str(forecast["month3"])
						month4 = str(forecast["month4"])
						month5 = str(forecast["month5"])
						month6 = str(forecast["month6"])
						month7 = str(forecast["month7"])
						month8 = str(forecast["month8"])
						month9 = str(forecast["month9"])
						month10 = str(forecast["month10"])
						month11 = str(forecast["month11"])
						month12 = str(forecast["month12"])
						month13 = str(forecast["month13"])
						month14 = str(forecast["month14"])
						month15 = str(forecast["month15"])
						month16 = str(forecast["month16"])
						month17 = str(forecast["month17"])
						month18 = str(forecast["month18"])
			
						if i == 0:
					}}
							{{if planning_month != forcasting_first_date:}}
								<th style="width: 100px;"><input type="hidden" name="month1" value="{{=months[0]}}">{{=months[0]}}</th>
								<th style="width: 100px;"><input type="hidden" name="month2" value="{{=months[1]}}">{{=months[1]}}</th>
								<th style="width: 100px;"><input type="hidden" name="month3" value="{{=months[2]}}">{{=months[2]}}</th>
								<th style="width: 100px;"><input type="hidden" name="month4" value="{{=months[3]}}">{{=months[3]}}</th>
								<th style="width: 100px;"><input type="hidden" name="month5" value="{{=months[4]}}">{{=months[4]}}</th>
								<th style="width: 100px;"><input type="hidden" name="month6" value="{{=months[5]}}">{{=months[5]}}</th>
								<th style="width: 100px;"><input type="hidden" name="month7" value="{{=months[6]}}">{{=months[6]}}</th>
								<th style="width: 100px;"><input type="hidden" name="month8" value="{{=months[7]}}">{{=months[7]}}</th>
								<th style="width: 100px;"><input type="hidden" name="month9" value="{{=months[8]}}">{{=months[8]}}</th>
								<th style="width: 100px;"><input type="hidden" name="month10" value="{{=months[9]}}">{{=months[9]}}</th>
								<th style="width: 100px;"><input type="hidden" name="month11" value="{{=months[10]}}">{{=months[10]}}</th>
								<th style="width: 100px;"><input type="hidden" name="month12" value="{{=months[11]}}">{{=months[11]}}</th>
								<th style="width: 100px;"><input type="hidden" name="month13" value="{{=months[12]}}">{{=months[12]}}</th>
								<th style="width: 100px;"><input type="hidden" name="month14" value="{{=months[13]}}">{{=months[13]}}</th>
								<th style="width: 100px;"><input type="hidden" name="month15" value="{{=months[14]}}">{{=months[14]}}</th>
								<th style="width: 100px;"><input type="hidden" name="month16" value="{{=months[15]}}">{{=months[15]}}</th>
								<th style="width: 100px;"><input type="hidden" name="month17" value="{{=months[16]}}">{{=months[16]}}</th>
								<th style="width: 100px;"><input type="hidden" name="month18" value="{{=months[17]}}">{{=months[17]}}</th>
								
							{{else:}}
								<th style="width: 100px;"><input type="hidden" name="month1" value="{{=month1}}">{{=month1}}</th>
								<th style="width: 100px;"><input type="hidden" name="month2" value="{{=month2}}">{{=month2}}</th>
								<th style="width: 100px;"><input type="hidden" name="month3" value="{{=month3}}">{{=month3}}</th>
								<th style="width: 100px;"><input type="hidden" name="month4" value="{{=month4}}">{{=month4}}</th>
								<th style="width: 100px;"><input type="hidden" name="month5" value="{{=month5}}">{{=month5}}</th>
								<th style="width: 100px;"><input type="hidden" name="month6" value="{{=month6}}">{{=month6}}</th>
								<th style="width: 100px;"><input type="hidden" name="month7" value="{{=month7}}">{{=month7}}</th>
								<th style="width: 100px;"><input type="hidden" name="month8" value="{{=month8}}">{{=month8}}</th>
								<th style="width: 100px;"><input type="hidden" name="month9" value="{{=month9}}">{{=month9}}</th>
								<th style="width: 100px;"><input type="hidden" name="month10" value="{{=month10}}">{{=month10}}</th>
								<th style="width: 100px;"><input type="hidden" name="month11" value="{{=month11}}">{{=month11}}</th>
								<th style="width: 100px;"><input type="hidden" name="month12" value="{{=month12}}">{{=month12}}</th>
								<th style="width: 100px;"><input type="hidden" name="month13" value="{{=month13}}">{{=month13}}</th>
								<th style="width: 100px;"><input type="hidden" name="month14" value="{{=month14}}">{{=month14}}</th>
								<th style="width: 100px;"><input type="hidden" name="month15" value="{{=month15}}">{{=month15}}</th>
								<th style="width: 100px;"><input type="hidden" name="month16" value="{{=month16}}">{{=month16}}</th>
								<th style="width: 100px;"><input type="hidden" name="month17" value="{{=month17}}">{{=month17}}</th>
								<th style="width: 100px;"><input type="hidden" name="month18" value="{{=month18}}">{{=month18}}</th>
							{{pass}}
							<th style="width: 100px;">Total</th>  
						{{pass}}
					{{pass}}
				</tr>

				<!-- total row -->
				{{	
					price = 0
					conv_factor = 0.0
					item_wise_total = 0
					month1_total = 0
					month2_total = 0
					month3_total = 0
					month4_total = 0
					month5_total = 0
					month6_total = 0
					month7_total = 0
					month8_total = 0
					month9_total = 0
					month10_total = 0
					month11_total = 0
					month12_total = 0
					month13_total = 0
					month14_total = 0
					month15_total = 0
					month16_total = 0
					month17_total = 0
					month18_total = 0
					total_column_sum = 0
					total_row_sum = 0
					total_row_column_sum = 0
				
				for i in range(len(forecast_records)):
					forcast = forecast_records[i]

					if i == 0:
						i += 1
						continue

					item_code = str(forcast["item_code"])
					item_name = str(forcast["item_name"])
					UoM = str(forcast["UoM"])

					forcasting_first_date = str(forcast["forcasting_first_date"])

					get_item_price_sql = "SELECT conv_factor, price FROM sm_item  where item_id = '"+str(item_code)+"' group by item_id limit 1 ;"
					get_item_price = db.executesql(get_item_price_sql, as_dict = True)
					conv_factor = get_item_price[0]['conv_factor']
					price = get_item_price[0]['price']

					if planning_month != forcasting_first_date:
						month1 = forcast["month1"]
						month2 = forcast["month2"]
						month3 = forcast["month3"]
						month4 = forcast["month4"]
						month5 = forcast["month5"]
						month6 = forcast["month6"]
						month7 = forcast["month7"]
						month8 = forcast["month8"]
						month9 = forcast["month9"]
						month10 = forcast["month10"]
						month11 = forcast["month11"]
						month12 = forcast["month12"]
						month13 = forcast["month13"]
						month14 = forcast["month14"]
						month15 = forcast["month15"]
						month16 = forcast["month16"]
						month17 = forcast["month17"]
						month18 = '0'
					
					else:
						month1 = forcast["month1"]
						month2 = forcast["month2"]
						month3 = forcast["month3"]
						month4 = forcast["month4"]
						month5 = forcast["month5"]
						month6 = forcast["month6"]
						month7 = forcast["month7"]
						month8 = forcast["month8"]
						month9 = forcast["month9"]
						month10 = forcast["month10"]
						month11 = forcast["month11"]
						month12 = forcast["month12"]
						month13 = forcast["month13"]
						month14 = forcast["month14"]
						month15 = forcast["month15"]
						month16 = forcast["month16"]
						month17 = forcast["month17"]
						month18 = forcast["month18"]

					pass

					item_wise_total = float(month1) + float(month2) + float(month3) + float(month4) + float(month5) + float(month6) + float(month7) + float(month8) + float(month9) + float(month10) + float(month11) + float(month12) + float(month13) + float(month14) + float(month15) + float(month16) + float(month17) + float(month18)

					total_column_sum += item_wise_total

					try:
						month1_total += float(month1) * (float(price)/float(conv_factor))
						month1_total = round(month1_total, 2) 
						month2_total += float(month2) * (float(price)/float(conv_factor))
						month2_total = round(month2_total, 2)
						month3_total += float(month3) * (float(price)/float(conv_factor))
						month3_total = round(month3_total, 2)
						month4_total += float(month4) * (float(price)/float(conv_factor))
						month4_total = round(month4_total, 2)
						month5_total += float(month5) * (float(price)/float(conv_factor))
						month5_total = round(month5_total, 2)
						month6_total += float(month6) * (float(price)/float(conv_factor))
						month6_total = round(month6_total, 2)
						month7_total += float(month7) * (float(price)/float(conv_factor))
						month7_total = round(month7_total, 2)
						month8_total += float(month8) * (float(price)/float(conv_factor))
						month8_total = round(month8_total, 2)
						month9_total += float(month9) * (float(price)/float(conv_factor))
						month9_total = round(month9_total, 2)
						month10_total += float(month10) * (float(price)/float(conv_factor))
						month10_total = round(month10_total, 2)
						month11_total += float(month11) * (float(price)/float(conv_factor))
						month11_total = round(month11_total, 2)
						month12_total += float(month12) * (float(price)/float(conv_factor))
						month12_total = round(month12_total, 2)
						month13_total += float(month13) * (float(price)/float(conv_factor))
						month13_total = round(month13_total, 2)
						month14_total += float(month14) * (float(price)/float(conv_factor))
						month14_total = round(month14_total, 2)
						month15_total += float(month15) * (float(price)/float(conv_factor))
						month15_total = round(month15_total, 2)
						month16_total += float(month16) * (float(price)/float(conv_factor))
						month16_total = round(month16_total, 2)
						month17_total += float(month17) * (float(price)/float(conv_factor))
						month17_total = round(month17_total, 2)
						month18_total += float(month18) * (float(price)/float(conv_factor))
						month18_total = round(month18_total, 2)
					except:
						pass
					i += 1
				}}	
				{{pass}}
				<!-- total row  -->
				<tr class="single_row" style="font-size: 13px; font-weight: 600;">
					<td style="position: sticky; left: 0; z-index: 1;"></td>
					<td style="position: sticky; left: 0; z-index: 1;"></td>
					<td style="position: sticky; left: 247px; z-index: 1; background-color: #eefaec;">Total:</td>
					<td>{{='{:20,d}'.format(int(month1_total))}}</td>
					<td>{{='{:20,d}'.format(int(month2_total))}}</td>
					<td>{{='{:20,d}'.format(int(month3_total))}}</td>
					<td>{{='{:20,d}'.format(int(month4_total))}}</td>
					<td>{{='{:20,d}'.format(int(month5_total))}}</td>
					<td>{{='{:20,d}'.format(int(month6_total))}}</td>
					<td>{{='{:20,d}'.format(int(month7_total))}}</td>
					<td>{{='{:20,d}'.format(int(month8_total))}}</td>
					<td>{{='{:20,d}'.format(int(month9_total))}}</td>
					<td>{{='{:20,d}'.format(int(month10_total))}}</td>
					<td>{{='{:20,d}'.format(int(month11_total))}}</td>
					<td>{{='{:20,d}'.format(int(month12_total))}}</td>
					<td>{{='{:20,d}'.format(int(month13_total))}}</td>
					<td>{{='{:20,d}'.format(int(month14_total))}}</td>
					<td>{{='{:20,d}'.format(int(month15_total))}}</td>
					<td>{{='{:20,d}'.format(int(month16_total))}}</td>
					<td>{{='{:20,d}'.format(int(month17_total))}}</td>
					<td>{{='{:20,d}'.format(int(month18_total))}}</td>
					{{total_row_sum = float(month1_total) + float(month2_total) +float(month3_total) +float(month4_total) +float(month5_total) +float(month6_total) +float(month7_total) +float(month8_total) +float(month9_total) +float(month10_total) +float(month11_total) +float(month12_total) +float(month13_total) +float(month14_total) +float(month15_total) +float(month16_total) +float(month17_total) + float(month18_total)}}
					{{total_row_column_sum = total_column_sum + total_row_sum}}
					{{total_row_column_sum = round(total_row_column_sum, 2)}}
					<td>{{='{:20,d}'.format(int(total_row_column_sum))}}</td>
				</tr>

				<!-- data rows  -->
				{{	
					price = 0
					conv_factor = 0.0
					item_wise_total = 0
					month1_total = 0
					month2_total = 0
					month3_total = 0
					month4_total = 0
					month5_total = 0
					month6_total = 0
					month7_total = 0
					month8_total = 0
					month9_total = 0
					month10_total = 0
					month11_total = 0
					month12_total = 0
					month13_total = 0
					month14_total = 0
					month15_total = 0
					month16_total = 0
					month17_total = 0
					month18_total = 0
					total_column_sum = 0
					total_row_sum = 0
					total_row_column_sum = 0
				
				
					index = []
					index = list(range(1, len(forecast_records) + 1))
				
				for i, _ in enumerate(index):
					forcast = forecast_records[i]
					processed = processed_records[i]

					if i == 0:
						i += 1
						continue

					temp_month1 = round(float(processed["month1"]), 2)
					temp_month2 = round(float(processed["month2"]), 2)
					temp_month3 = round(float(processed["month3"]), 2)
					temp_month4 = round(float(processed["month4"]), 2)
					temp_month5 = round(float(processed["month5"]), 2)
					temp_month6 = round(float(processed["month6"]), 2)
					temp_month7 = round(float(processed["month7"]), 2)
					temp_month8 = round(float(processed["month8"]), 2)
					temp_month9 = round(float(processed["month9"]), 2)
					temp_month10 = round(float(processed["month10"]), 2)
					temp_month11 = round(float(processed["month11"]), 2)
					temp_month12 = round(float(processed["month12"]), 2)
					temp_month13 = round(float(processed["month13"]), 2)
					temp_month14 = round(float(processed["month14"]), 2)
					temp_month15 = round(float(processed["month15"]), 2)
					temp_month16 = round(float(processed["month16"]), 2)
					temp_month17 = round(float(processed["month17"]), 2)
					temp_month18 = round(float(processed["month18"]), 2)

					item_code = str(forcast["item_code"])
					item_name = str(forcast["item_name"])
					UoM = str(forcast["UoM"])

					forcasting_first_date = str(forcast["forcasting_first_date"])

					get_item_price_sql = "SELECT conv_factor, price FROM sm_item  where item_id = '"+str(item_code)+"' group by item_id limit 1 ;"
					get_item_price = db.executesql(get_item_price_sql, as_dict = True)
					conv_factor = get_item_price[0]['conv_factor']
					price = get_item_price[0]['price']

					if planning_month != forcasting_first_date:
						month1 = forcast["month1"]
						month2 = forcast["month2"]
						month3 = forcast["month3"]
						month4 = forcast["month4"]
						month5 = forcast["month5"]
						month6 = forcast["month6"]
						month7 = forcast["month7"]
						month8 = forcast["month8"]
						month9 = forcast["month9"]
						month10 = forcast["month10"]
						month11 = forcast["month11"]
						month12 = forcast["month12"]
						month13 = forcast["month13"]
						month14 = forcast["month14"]
						month15 = forcast["month15"]
						month16 = forcast["month16"]
						month17 = forcast["month17"]
						month18 = '0'
					
					else:
						month1 = forcast["month1"]
						month2 = forcast["month2"]
						month3 = forcast["month3"]
						month4 = forcast["month4"]
						month5 = forcast["month5"]
						month6 = forcast["month6"]
						month7 = forcast["month7"]
						month8 = forcast["month8"]
						month9 = forcast["month9"]
						month10 = forcast["month10"]
						month11 = forcast["month11"]
						month12 = forcast["month12"]
						month13 = forcast["month13"]
						month14 = forcast["month14"]
						month15 = forcast["month15"]
						month16 = forcast["month16"]
						month17 = forcast["month17"]
						month18 = forcast["month18"]

					pass

					item_wise_total = float(month1) + float(month2) + float(month3) + float(month4) + float(month5) + float(month6) + float(month7) + float(month8) + float(month9) + float(month10) + float(month11) + float(month12) + float(month13) + float(month14) + float(month15) + float(month16) + float(month17) + float(month18)

					total_column_sum += item_wise_total

					try:
						month1_total += float(month1) * (float(price)/float(conv_factor))
						month1_total = round(month1_total, 2)
						month2_total += float(month2) * (float(price)/float(conv_factor))
						month2_total = round(month2_total, 2)
						month3_total += float(month3) * (float(price)/float(conv_factor))
						month3_total = round(month3_total, 2)
						month4_total += float(month4) * (float(price)/float(conv_factor))
						month4_total = round(month4_total, 2)
						month5_total += float(month5) * (float(price)/float(conv_factor))
						month5_total = round(month5_total, 2)
						month6_total += float(month6) * (float(price)/float(conv_factor))
						month6_total = round(month6_total, 2)
						month7_total += float(month7) * (float(price)/float(conv_factor))
						month7_total = round(month7_total, 2)
						month8_total += float(month8) * (float(price)/float(conv_factor))
						month8_total = round(month8_total, 2)
						month9_total += float(month9) * (float(price)/float(conv_factor))
						month9_total = round(month9_total, 2)
						month10_total += float(month10) * (float(price)/float(conv_factor))
						month10_total = round(month10_total, 2)
						month11_total += float(month11) * (float(price)/float(conv_factor))
						month11_total = round(month11_total, 2)
						month12_total += float(month12) * (float(price)/float(conv_factor))
						month12_total = round(month12_total, 2)
						month13_total += float(month13) * (float(price)/float(conv_factor))
						month13_total = round(month13_total, 2)
						month14_total += float(month14) * (float(price)/float(conv_factor))
						month14_total = round(month14_total, 2)
						month15_total += float(month15) * (float(price)/float(conv_factor))
						month15_total = round(month15_total, 2)
						month16_total += float(month16) * (float(price)/float(conv_factor))
						month16_total = round(month16_total, 2)
						month17_total += float(month17) * (float(price)/float(conv_factor))
						month17_total = round(month17_total, 2)
						month18_total += float(month18) * (float(price)/float(conv_factor))
						month18_total = round(month18_total, 2)

					except:
						pass

					i += 1
				}}
					<!-- data row  -->
					<tr class="single_row">
						<td style="position: sticky; left: 0; z-index: 1; text-align: left; padding-left: 5px;">{{=item_code}}</td>
						<td style="position: sticky; left: 80px; z-index: 1; text-align: left; padding-left: 5px;">{{=item_name}}</td>
						<td style="text-align: left; padding-left: 5px;">{{=UoM}}</td>
						{{if status == 'POSTED' or status == 'APPROVED':}}
							{{ months = [(month1, temp_month1), (month2, temp_month2), (month3, temp_month3), (month4, temp_month4), (month5, temp_month5), (month6, temp_month6), (month7, temp_month7), (month8, temp_month8), (month9, temp_month9), (month10, temp_month10), (month11, temp_month11), (month12, temp_month12), (month13, temp_month13), (month14, temp_month14), (month15, temp_month15), (month16, temp_month16), (month17, temp_month17), (month18, temp_month18)] }}
				
							{{ for month, temp_month in months: }}
								{{ if float(month) > float(temp_month): }}
									<td style="color: blue;">{{='{:20,.2f}'.format(float(month))}}</td>
								{{ elif float(month) < float(temp_month): }}
									<td style="color: red;">{{='{:20,.2f}'.format(float(month))}}</td>
								{{ else: }}
									<td>{{='{:20,.2f}'.format(float(month))}}</td>
								{{ pass }}
							{{ pass }}

						{{else:}}
						{{ 
							matching_keys = [] 
							
							for block_item in block_item_list: 
								if block_item[0] == forcast['item_code']: 
									blocked_months_temp = ','.join(block_item[1]) 
									months_to_find = blocked_months_temp.split(',')
						
									records_dict = { 
										'input1': str(months[0]), 
										'input2': str(months[1]), 
										'input3': str(months[2]), 
										'input4': str(months[3]), 
										'input5': str(months[4]), 
										'input6': str(months[5]), 
										'input7': str(months[6]), 
										'input8': str(months[7]), 
										'input9': str(months[8]), 
										'input10': str(months[9]), 
										'input11': str(months[10]), 
										'input12': str(months[11]), 
										'input13': str(months[12]), 
										'input14': str(months[13]), 
										'input15': str(months[14]), 
										'input16': str(months[15]), 
										'input17': str(months[16]), 
										'input18': str(months[17]) 
									} 
						
									for key, value in records_dict.items(): 
										if value in months_to_find: 
											matching_keys.append(key) 

										pass
									pass
								pass
							pass
						
							for i in range(1, 19): 
								input_name = f'input{i}' 
								is_blocked = False
								for block_item in block_item_list:
									if block_item[0] == forcast['item_code'] and input_name in matching_keys:
										is_blocked = True
										break
								pass

								month_value = globals().get(f'month{i}', '')
        						temp_month_value = globals().get(f'temp_month{i}', '')
								
								if is_blocked:
									# Blocked input}}
									<td>
										<input type="text" id="qty_input" name="{{=input_name}}" value="0" disabled style="background-color: rgb(248, 48, 48);">
										<input type="hidden" name="{{=input_name}}" value="0" pattern="^\d+(\.\d{1,2})?$">
									</td>
								{{else:
									# Regular input}}
									{{if float(month_value) > float(temp_month_value):}}
								   		<td><input style="color: blue;" type="text" id="qty_input" name="{{=input_name}}" pattern="^\d+(\.\d{1,2})?$" value="{{=globals().get(f'month{i}', '')}}"></td>
						        	{{elif float(month_value) < float(temp_month_value):}}
										<td><input style="color: red;" type="text" id="qty_input" name="{{=input_name}}" pattern="^\d+(\.\d{1,2})?$" value="{{=globals().get(f'month{i}', '')}}"></td>
									{{else:}}
										<td><input type="text" id="qty_input" name="{{=input_name}}" pattern="^\d+(\.\d{1,2})?$" value="{{=globals().get(f'month{i}', '')}}"></td>
									{{pass}}
								{{pass}}
							{{pass}}   
						{{pass}}

						<input type="hidden" name="item_code" value="{{=forcast['item_code']}}">

						{{if session.user_type == 'sup':}}
							<td style="font-size: 13px; font-weight: 600;">{{='{:20,d}'.format(int(item_wise_total))}}</td>
						{{pass}}
					</tr>
				{{pass}}

				{{if status != 'POSTED':}}
					<input name="submit_btn_old" type="submit" value="Update" style="height: 30px; width: 80px; margin: 0px 10px 10px 0px; padding: 5px 5px 5px 10px; font-size: 13px; border: 1px solid {{=session.text_color}}; border-radius: 20px; cursor: pointer; color: {{=session.button_text_color}}; background-color: {{=session.button_color}}"/>
					<input name="post_btn" type="submit" value="Post" style="height: 30px; width: 80px; margin: 0px 10px 10px 0px; padding: 5px 5px 5px 10px; font-size: 13px; border: 1px solid {{=session.text_color}}; border-radius: 20px; cursor: pointer; color: {{=session.button_text_color}}; background-color: {{=session.button_color}}"/>
					{{if session.update_flash:}}
						<span id="flashMessage" style="color: {{=session.button_color}}">{{=session.update_flash}}</span>
						{{session.update_flash = None}}
					{{pass}}

				{{elif status == 'POSTED':}}
					<input name="submit_btn_new" type="submit" value="Update" style="height: 30px; width: 80px; margin: 0px 10px 10px 0px; padding: 5px 5px 5px 10px; font-size: 13px; border: 1px solid #949494; border-radius: 20px; cursor: pointer; color: #949494; background-color: #d6d6d6" disabled/>
					<input name="post_btn" type="submit" value="Post" style="height: 30px; width: 80px; margin: 0px 10px 10px 0px; padding: 5px 5px 5px 10px; font-size: 13px; border: 1px solid #949494; border-radius: 20px; cursor: pointer; color: #949494; background-color: #d6d6d6" disabled/>
					{{if session.post_flash:}}
						<span id="flashMessage" style="color: {{=session.button_color}}">{{=session.post_flash}}</span>
						{{session.post_flash = None}}
					{{pass}}

				{{pass}}
			
			<!-- {{ # IF THERE ARE NO ITEMS BLOCKED }} -->
			{{else:}}
				<!-- month row  -->
				<tr class="all_forecast">
					<th style="position: sticky; left: 0; z-index: 1; width: 80px; text-align: left;">Item Code</th>
					<th style="position: sticky; left: 80px; z-index: 1; width: 220px; text-align: left;">Item Name</th>
					<th style="width: 70px; text-align: left;">UoM</th>
					{{for i in range(len(forecast_records)):
						forecast = forecast_records[i]
						item_code = str(forecast["item_code"])
						item_name = str(forecast["item_name"])
						UoM = str(forecast["UoM"])
						month1 = str(forecast["month1"])
						month2 = str(forecast["month2"])
						month3 = str(forecast["month3"])
						month4 = str(forecast["month4"])
						month5 = str(forecast["month5"])
						month6 = str(forecast["month6"])
						month7 = str(forecast["month7"])
						month8 = str(forecast["month8"])
						month9 = str(forecast["month9"])
						month10 = str(forecast["month10"])
						month11 = str(forecast["month11"])
						month12 = str(forecast["month12"])
						month13 = str(forecast["month13"])
						month14 = str(forecast["month14"])
						month15 = str(forecast["month15"])
						month16 = str(forecast["month16"])
						month17 = str(forecast["month17"])
						month18 = str(forecast["month18"])
			
						if i == 0:
					}}
						<th style="width: 100px;"><input type="hidden" name="month1" value="{{=month1}}">{{=month1}}</th>
						<th style="width: 100px;"><input type="hidden" name="month2" value="{{=month2}}">{{=month2}}</th>
						<th style="width: 100px;"><input type="hidden" name="month3" value="{{=month3}}">{{=month3}}</th>
						<th style="width: 100px;"><input type="hidden" name="month4" value="{{=month4}}">{{=month4}}</th>
						<th style="width: 100px;"><input type="hidden" name="month5" value="{{=month5}}">{{=month5}}</th>
						<th style="width: 100px;"><input type="hidden" name="month6" value="{{=month6}}">{{=month6}}</th>
						<th style="width: 100px;"><input type="hidden" name="month7" value="{{=month7}}">{{=month7}}</th>
						<th style="width: 100px;"><input type="hidden" name="month8" value="{{=month8}}">{{=month8}}</th>
						<th style="width: 100px;"><input type="hidden" name="month9" value="{{=month9}}">{{=month9}}</th>
						<th style="width: 100px;"><input type="hidden" name="month10" value="{{=month10}}">{{=month10}}</th>
						<th style="width: 100px;"><input type="hidden" name="month11" value="{{=month11}}">{{=month11}}</th>
						<th style="width: 100px;"><input type="hidden" name="month12" value="{{=month12}}">{{=month12}}</th>
						<th style="width: 100px;"><input type="hidden" name="month13" value="{{=month13}}">{{=month13}}</th>
						<th style="width: 100px;"><input type="hidden" name="month14" value="{{=month14}}">{{=month14}}</th>
						<th style="width: 100px;"><input type="hidden" name="month15" value="{{=month15}}">{{=month15}}</th>
						<th style="width: 100px;"><input type="hidden" name="month16" value="{{=month16}}">{{=month16}}</th>
						<th style="width: 100px;"><input type="hidden" name="month17" value="{{=month17}}">{{=month17}}</th>
						<th style="width: 100px;"><input type="hidden" name="month18" value="{{=month18}}">{{=month18}}</th>
						<th style="width: 100px;">Total</th>  
						{{pass}}
					{{pass}}
				</tr>
	
				<!-- total row -->
				{{	
					price = 0
					conv_factor = 0.0
					item_wise_total = 0
					month1_total = 0
					month2_total = 0
					month3_total = 0
					month4_total = 0
					month5_total = 0
					month6_total = 0
					month7_total = 0
					month8_total = 0
					month9_total = 0
					month10_total = 0
					month11_total = 0
					month12_total = 0
					month13_total = 0
					month14_total = 0
					month15_total = 0
					month16_total = 0
					month17_total = 0
					month18_total = 0
					total_column_sum = 0
					total_row_sum = 0
					total_row_column_sum = 0
				}}
				{{for i in range(len(forecast_records)):
					forcast = forecast_records[i]
		
					if i == 0:
						i += 1
						continue
		
					item_code = str(forcast["item_code"])
					item_name = str(forcast["item_name"])
					UoM = str(forcast["UoM"])
		
					forcasting_first_date = str(forcast["forcasting_first_date"])
		
					get_item_price_sql = "SELECT conv_factor, price FROM sm_item  where item_id = '"+str(item_code)+"' group by item_id limit 1 ;"
					get_item_price = db.executesql(get_item_price_sql, as_dict = True)
					conv_factor = get_item_price[0]['conv_factor']
					price = get_item_price[0]['price']
		
					if planning_month != forcasting_first_date:
						month1 = forcast["month1"]
						month2 = forcast["month2"]
						month3 = forcast["month3"]
						month4 = forcast["month4"]
						month5 = forcast["month5"]
						month6 = forcast["month6"]
						month7 = forcast["month7"]
						month8 = forcast["month8"]
						month9 = forcast["month9"]
						month10 = forcast["month10"]
						month11 = forcast["month11"]
						month12 = forcast["month12"]
						month13 = forcast["month13"]
						month14 = forcast["month14"]
						month15 = forcast["month15"]
						month16 = forcast["month16"]
						month17 = forcast["month17"]
						month18 = '0'
					
					else:
						month1 = forcast["month1"]
						month2 = forcast["month2"]
						month3 = forcast["month3"]
						month4 = forcast["month4"]
						month5 = forcast["month5"]
						month6 = forcast["month6"]
						month7 = forcast["month7"]
						month8 = forcast["month8"]
						month9 = forcast["month9"]
						month10 = forcast["month10"]
						month11 = forcast["month11"]
						month12 = forcast["month12"]
						month13 = forcast["month13"]
						month14 = forcast["month14"]
						month15 = forcast["month15"]
						month16 = forcast["month16"]
						month17 = forcast["month17"]
						month18 = forcast["month18"]
		
					pass
		
					item_wise_total = float(month1) + float(month2) + float(month3) + float(month4) + float(month5) + float(month6) + float(month7) + float(month8) + float(month9) + float(month10) + float(month11) + float(month12) + float(month13) + float(month14) + float(month15) + float(month16) + float(month17) + float(month18)
		
					total_column_sum += item_wise_total
		
					try:
						month1_total += float(month1) * (float(price)/float(conv_factor))
						month1_total = round(month1_total, 2) 
						month2_total += float(month2) * (float(price)/float(conv_factor))
						month2_total = round(month2_total, 2)
						month3_total += float(month3) * (float(price)/float(conv_factor))
						month3_total = round(month3_total, 2)
						month4_total += float(month4) * (float(price)/float(conv_factor))
						month4_total = round(month4_total, 2)
						month5_total += float(month5) * (float(price)/float(conv_factor))
						month5_total = round(month5_total, 2)
						month6_total += float(month6) * (float(price)/float(conv_factor))
						month6_total = round(month6_total, 2)
						month7_total += float(month7) * (float(price)/float(conv_factor))
						month7_total = round(month7_total, 2)
						month8_total += float(month8) * (float(price)/float(conv_factor))
						month8_total = round(month8_total, 2)
						month9_total += float(month9) * (float(price)/float(conv_factor))
						month9_total = round(month9_total, 2)
						month10_total += float(month10) * (float(price)/float(conv_factor))
						month10_total = round(month10_total, 2)
						month11_total += float(month11) * (float(price)/float(conv_factor))
						month11_total = round(month11_total, 2)
						month12_total += float(month12) * (float(price)/float(conv_factor))
						month12_total = round(month12_total, 2)
						month13_total += float(month13) * (float(price)/float(conv_factor))
						month13_total = round(month13_total, 2)
						month14_total += float(month14) * (float(price)/float(conv_factor))
						month14_total = round(month14_total, 2)
						month15_total += float(month15) * (float(price)/float(conv_factor))
						month15_total = round(month15_total, 2)
						month16_total += float(month16) * (float(price)/float(conv_factor))
						month16_total = round(month16_total, 2)
						month17_total += float(month17) * (float(price)/float(conv_factor))
						month17_total = round(month17_total, 2)
						month18_total += float(month18) * (float(price)/float(conv_factor))
						month18_total = round(month18_total, 2)
					except:
						pass
					i += 1
				}}	
				{{pass}}
					<!-- total row  -->
					<tr class="single_row" style="font-size: 13px; font-weight: 600;">
						<td style="position: sticky; left: 0; z-index: 1;"></td>
						<td style="position: sticky; left: 0; z-index: 1;"></td>
						<td style="position: sticky; left: 247px; z-index: 1; background-color: #eefaec;">Total:</td>
						<td>{{='{:20,d}'.format(int(month1_total))}}</td>
						<td>{{='{:20,d}'.format(int(month2_total))}}</td>
						<td>{{='{:20,d}'.format(int(month3_total))}}</td>
						<td>{{='{:20,d}'.format(int(month4_total))}}</td>
						<td>{{='{:20,d}'.format(int(month5_total))}}</td>
						<td>{{='{:20,d}'.format(int(month6_total))}}</td>
						<td>{{='{:20,d}'.format(int(month7_total))}}</td>
						<td>{{='{:20,d}'.format(int(month8_total))}}</td>
						<td>{{='{:20,d}'.format(int(month9_total))}}</td>
						<td>{{='{:20,d}'.format(int(month10_total))}}</td>
						<td>{{='{:20,d}'.format(int(month11_total))}}</td>
						<td>{{='{:20,d}'.format(int(month12_total))}}</td>
						<td>{{='{:20,d}'.format(int(month13_total))}}</td>
						<td>{{='{:20,d}'.format(int(month14_total))}}</td>
						<td>{{='{:20,d}'.format(int(month15_total))}}</td>
						<td>{{='{:20,d}'.format(int(month16_total))}}</td>
						<td>{{='{:20,d}'.format(int(month17_total))}}</td>
						<td>{{='{:20,d}'.format(int(month18_total))}}</td>
						{{total_row_sum = float(month1_total) + float(month2_total) +float(month3_total) +float(month4_total) +float(month5_total) +float(month6_total) +float(month7_total) +float(month8_total) +float(month9_total) +float(month10_total) +float(month11_total) +float(month12_total) +float(month13_total) +float(month14_total) +float(month15_total) +float(month16_total) +float(month17_total) + float(month18_total)}}
						{{total_row_column_sum = total_column_sum + total_row_sum}}
						{{total_row_column_sum = round(total_row_column_sum, 2)}}
						<td>{{='{:20,d}'.format(int(total_row_column_sum))}}</td>
					</tr>
		
				<!-- data rows  -->
				{{	
					price = 0
					conv_factor = 0.0
					item_wise_total = 0
					month1_total = 0
					month2_total = 0
					month3_total = 0
					month4_total = 0
					month5_total = 0
					month6_total = 0
					month7_total = 0
					month8_total = 0
					month9_total = 0
					month10_total = 0
					month11_total = 0
					month12_total = 0
					month13_total = 0
					month14_total = 0
					month15_total = 0
					month16_total = 0
					month17_total = 0
					month18_total = 0
					total_column_sum = 0
					total_row_sum = 0
					total_row_column_sum = 0
				}}
				{{
					index = []
					index = list(range(1, len(forecast_records) + 1))
				}}
				{{for i, _ in enumerate(index):
					forcast = forecast_records[i]
					processed = processed_records[i]
		
					if i == 0:
						i += 1
						continue
		
					temp_month1 = round(float(processed["month1"]), 2)
					temp_month2 = round(float(processed["month2"]), 2)
					temp_month3 = round(float(processed["month3"]), 2)
					temp_month4 = round(float(processed["month4"]), 2)
					temp_month5 = round(float(processed["month5"]), 2)
					temp_month6 = round(float(processed["month6"]), 2)
					temp_month7 = round(float(processed["month7"]), 2)
					temp_month8 = round(float(processed["month8"]), 2)
					temp_month9 = round(float(processed["month9"]), 2)
					temp_month10 = round(float(processed["month10"]), 2)
					temp_month11 = round(float(processed["month11"]), 2)
					temp_month12 = round(float(processed["month12"]), 2)
					temp_month13 = round(float(processed["month13"]), 2)
					temp_month14 = round(float(processed["month14"]), 2)
					temp_month15 = round(float(processed["month15"]), 2)
					temp_month16 = round(float(processed["month16"]), 2)
					temp_month17 = round(float(processed["month17"]), 2)
					temp_month18 = round(float(processed["month18"]), 2)
		
					item_code = str(forcast["item_code"])
					item_name = str(forcast["item_name"])
					UoM = str(forcast["UoM"])
		
					forcasting_first_date = str(forcast["forcasting_first_date"])
		
					get_item_price_sql = "SELECT conv_factor, price FROM sm_item  where item_id = '"+str(item_code)+"' group by item_id limit 1 ;"
					get_item_price = db.executesql(get_item_price_sql, as_dict = True)
					conv_factor = get_item_price[0]['conv_factor']
					price = get_item_price[0]['price']
		
					if planning_month != forcasting_first_date:
						month1 = forcast["month1"]
						month2 = forcast["month2"]
						month3 = forcast["month3"]
						month4 = forcast["month4"]
						month5 = forcast["month5"]
						month6 = forcast["month6"]
						month7 = forcast["month7"]
						month8 = forcast["month8"]
						month9 = forcast["month9"]
						month10 = forcast["month10"]
						month11 = forcast["month11"]
						month12 = forcast["month12"]
						month13 = forcast["month13"]
						month14 = forcast["month14"]
						month15 = forcast["month15"]
						month16 = forcast["month16"]
						month17 = forcast["month17"]
						month18 = '0'
					
					else:
						month1 = forcast["month1"]
						month2 = forcast["month2"]
						month3 = forcast["month3"]
						month4 = forcast["month4"]
						month5 = forcast["month5"]
						month6 = forcast["month6"]
						month7 = forcast["month7"]
						month8 = forcast["month8"]
						month9 = forcast["month9"]
						month10 = forcast["month10"]
						month11 = forcast["month11"]
						month12 = forcast["month12"]
						month13 = forcast["month13"]
						month14 = forcast["month14"]
						month15 = forcast["month15"]
						month16 = forcast["month16"]
						month17 = forcast["month17"]
						month18 = forcast["month18"]
		
					pass
		
					item_wise_total = float(month1) + float(month2) + float(month3) + float(month4) + float(month5) + float(month6) + float(month7) + float(month8) + float(month9) + float(month10) + float(month11) + float(month12) + float(month13) + float(month14) + float(month15) + float(month16) + float(month17) + float(month18)
		
					total_column_sum += item_wise_total
		
					try:
						month1_total += float(month1) * (float(price)/float(conv_factor))
						month1_total = round(month1_total, 2)
						month2_total += float(month2) * (float(price)/float(conv_factor))
						month2_total = round(month2_total, 2)
						month3_total += float(month3) * (float(price)/float(conv_factor))
						month3_total = round(month3_total, 2)
						month4_total += float(month4) * (float(price)/float(conv_factor))
						month4_total = round(month4_total, 2)
						month5_total += float(month5) * (float(price)/float(conv_factor))
						month5_total = round(month5_total, 2)
						month6_total += float(month6) * (float(price)/float(conv_factor))
						month6_total = round(month6_total, 2)
						month7_total += float(month7) * (float(price)/float(conv_factor))
						month7_total = round(month7_total, 2)
						month8_total += float(month8) * (float(price)/float(conv_factor))
						month8_total = round(month8_total, 2)
						month9_total += float(month9) * (float(price)/float(conv_factor))
						month9_total = round(month9_total, 2)
						month10_total += float(month10) * (float(price)/float(conv_factor))
						month10_total = round(month10_total, 2)
						month11_total += float(month11) * (float(price)/float(conv_factor))
						month11_total = round(month11_total, 2)
						month12_total += float(month12) * (float(price)/float(conv_factor))
						month12_total = round(month12_total, 2)
						month13_total += float(month13) * (float(price)/float(conv_factor))
						month13_total = round(month13_total, 2)
						month14_total += float(month14) * (float(price)/float(conv_factor))
						month14_total = round(month14_total, 2)
						month15_total += float(month15) * (float(price)/float(conv_factor))
						month15_total = round(month15_total, 2)
						month16_total += float(month16) * (float(price)/float(conv_factor))
						month16_total = round(month16_total, 2)
						month17_total += float(month17) * (float(price)/float(conv_factor))
						month17_total = round(month17_total, 2)
						month18_total += float(month18) * (float(price)/float(conv_factor))
						month18_total = round(month18_total, 2)
		
					except:
						pass
		
					i += 1
				}}
					<!-- data row  -->
					<tr class="single_row">
						<td style="position: sticky; left: 0; z-index: 1; text-align: left; padding-left: 5px;">{{=item_code}}</td>
						<td style="position: sticky; left: 80px; z-index: 1; text-align: left; padding-left: 5px;">{{=item_name}}</td>
						<td style="text-align: left; padding-left: 5px;">{{=UoM}}</td>
						{{if status == 'POSTED' or status == 'APPROVED':}}
							{{ months = [(month1, temp_month1), (month2, temp_month2), (month3, temp_month3), (month4, temp_month4), (month5, temp_month5), (month6, temp_month6), (month7, temp_month7), (month8, temp_month8), (month9, temp_month9), (month10, temp_month10), (month11, temp_month11), (month12, temp_month12), (month13, temp_month13), (month14, temp_month14), (month15, temp_month15), (month16, temp_month16), (month17, temp_month17), (month18, temp_month18)] }}
					
							{{ for month, temp_month in months: }}
								{{ if float(month) > float(temp_month): }}
									<td style="color: blue;">{{='{:20,.2f}'.format(float(month))}}</td>
								{{ elif float(month) < float(temp_month): }}
									<td style="color: red;">{{='{:20,.2f}'.format(float(month))}}</td>
								{{ else: }}
									<td>{{='{:20,.2f}'.format(float(month))}}</td>
								{{ pass }}
							{{ pass }}
		
						{{else:}}
							{{ months = [(input1, month1, temp_month1), (input2, month2, temp_month2), (input3, month3, temp_month3), (input4, month4, temp_month4), (input5, month5, temp_month5), (input6, month6, temp_month6), (input7, month7, temp_month7), (input8, month8, temp_month8), (input9, month9, temp_month9), (input10, month10, temp_month10), (input11, month11, temp_month11), (input12, month12, temp_month12), (input13, month13, temp_month13), (input14, month14, temp_month14), (input15, month15, temp_month15), (input16, month16, temp_month16), (input17, month17, temp_month17), (input18, month18, temp_month18)] }}
					
							{{ for input, month, temp_month in months: }}
								{{ if float(month) > float(temp_month): }}
									<td><input style="color: blue;" type="text" id="qty_input" pattern="^\d+(\.\d{1,2})?$" name="{{=input}}" value="{{=float(month)}}"></td>
								{{ elif float(month) < float(temp_month): }}
									<td><input style="color: red;" type="text" id="qty_input" pattern="^\d+(\.\d{1,2})?$" name="{{=input}}" value="{{=float(month)}}"></td>
								{{ else: }}
									<td><input type="text" id="qty_input" pattern="^\d+(\.\d{1,2})?$" name="{{=input}}" value="{{=float(month)}}"></td>
								{{ pass }}
							{{ pass }}

						{{pass}}
		
						<input type="hidden" name="item_code" value="{{=forcast['item_code']}}">
		
						{{if session.user_type == 'sup':}}
							<td style="font-size: 13px; font-weight: 600;">{{='{:20,d}'.format(int(item_wise_total))}}</td>
						{{pass}}
					</tr>
				{{pass}}
		
				{{if status != 'POSTED':}}
					<input name="submit_btn_old" type="submit" value="Update" style="height: 30px; width: 80px; margin: 0px 10px 10px 0px; padding: 5px 5px 5px 10px; font-size: 13px; border: 1px solid {{=session.text_color}}; border-radius: 20px; cursor: pointer; color: {{=session.button_text_color}}; background-color: {{=session.button_color}}"/>
					<input name="post_btn" type="submit" value="Post" style="height: 30px; width: 80px; margin: 0px 10px 10px 0px; padding: 5px 5px 5px 10px; font-size: 13px; border: 1px solid {{=session.text_color}}; border-radius: 20px; cursor: pointer; color: {{=session.button_text_color}}; background-color: {{=session.button_color}}"/>
					{{if session.update_flash:}}
						<span id="flashMessage" style="color: {{=session.button_color}}">{{=session.update_flash}}</span>
						{{session.update_flash = None}}
					{{pass}}
		
				{{elif status == 'POSTED':}}
					<input name="submit_btn_new" type="submit" value="Update" style="height: 30px; width: 80px; margin: 0px 10px 10px 0px; padding: 5px 5px 5px 10px; font-size: 13px; border: 1px solid #949494; border-radius: 20px; cursor: pointer; color: #949494; background-color: #d6d6d6" disabled/>
					<input name="post_btn" type="submit" value="Post" style="height: 30px; width: 80px; margin: 0px 10px 10px 0px; padding: 5px 5px 5px 10px; font-size: 13px; border: 1px solid #949494; border-radius: 20px; cursor: pointer; color: #949494; background-color: #d6d6d6" disabled/>
					{{if session.post_flash:}}
						<span id="flashMessage" style="color: {{=session.button_color}}">{{=session.post_flash}}</span>
						{{session.post_flash = None}}
					{{pass}}
				{{pass}}

			{{pass}}
		</form>
	</table>
{{pass}}