{{extend 'layout.html'}}





<!-- <style>
  .item_add_row {
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .client_add{
    padding-top: 10px;
    font-size: 20px;
    text-align: left;
  }

  .item_add_row div {
    margin-right: 20px;
  }

  label {
    margin-top: 10px;
    color: #333;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #45a049;
  }

  .col1 {
    display: block;
  }
</style>


<h2 class="client_add">Client Add</h2>


<form name="form1" action="{{=URL(c='client',f='client_add')}}"  method="post">

  <div class="item_add_row">
    <div class="col1">

      <table border="0">
     <!--    <tr>
          <td> <label for="id">ID:</label></td>
          <td> <input type="text" id="id" name="id"></td>
        </tr> -->

        <!-- <tr>
          <td>
            <label for="name">Name:</label>
          </td>
          <td>
            <input type="text" id="name" name="name">
          </td>
        </tr>

        <tr>
          <td>
            <label for="torritory">Torritory</label>
          </td>
          <td>
            <input type="text" id="torritory" name="torritory">
          </td>
        </tr>
        <tr>
          <td>
            <label for="branch">Branch:</label>
          </td>
          <td>
            <input type="text" id="branch" name="branch">
          </td>
        </tr>

        <tr>
          <td><label for="category">Category:</label></td>
          <td> <input type="text" id="category" name="category"></td>
        </tr>
        <tr>
          <td><label for="sub_category">Sub Category:</label></td>
          <td><input type="text" id="sub_category" name="sub_category"></td>
        </tr>
      </table>

    </div>

    <div>
      <table>
        <tr>
          <td><label for="branch_belt">Branch Belt</label></td>
          <td> <input type="text" id="branch_belt" name="branch_belt"></td>
        </tr>
        <tr>
         <td><label for="contact_name">Contact Name</label></td>
          <td><input type="text" id="contact_name" name="contact_name"></td>
        </tr>
        <tr>
          <td><label for="address">Address</label></td>
          <td><input type="text" id="address" name="address"></td>
        </tr>
        <tr>
          <td><label for="pocket_market">Pocket Market</label></td>
          <td><input type="text" id="pocket_market" name="pocket_market"></td>
        </tr>
        <tr>
          <td><label for="market_id">Market ID</label></td>
          <td><input type="text" id="market_id" name="market_id"></td>
        </tr>
        <tr>
          <td> <label for="thana">Thana</label></td>
          <td><input type="text" id="thana" name="thana"></td>
        </tr>

      </table>
    </div>
    <div>

      <div class="form-group">
        
        <input type="hidden"  id="c_id" name="c_id" value="accl">
      </div>
      <table>
        <tr>
          <td> <label for="district">District</label></td>
          <td><input type="text" id="district" name="district"></td>
        </tr>
        <tr>
          <td><label for="status">Status</label></td>
          <td><input type="text" id="status" name="status"></td>
        </tr>
        <tr>
          <td> <label for="nid">NID</label></td>
          <td><input type="text" id="nid" name="nid"></td>
        </tr>
        <tr>
          <td><label for="store_id">Store ID</label></td>
          <td><input type="text" id="field2" name="field2"></td>
        </tr>
        <tr>
          <td> <label for="payment_mode">Payment Mode</label></td>
          <td><input type="text" id="payment_mode" name="payment_mode"></td>
        </tr>
        <tr>
          <td></td>
              
  
          <td>  <input align="left" type="submit" name="submit" id="submit" value=" Submit " style="background-color:rgb(123, 136, 123); margin-top: 70px; width: 100px;" /></td>
        </tr>

      </table>
    </div>
  </div>
</form>  -->