{{extend 'layout.html'}}

{{block head}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

<title>{{=response.title}}</title>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap');
         
	* {
		font-family: 'Poppins', sans-serif;
	}

	.back-btn-row form {
		height: 20px;
		width: 60px;
		margin-bottom: 10px;
		padding: 5px 5px 5px 10px;
		font-size: 13px;
		border: 0;
        border-radius: 20px;
		cursor: pointer;
		color: {{=session.button_text_color}};
		background-color: {{=session.button_color}}
	}

	.back-btn-row input {
		border: 0;
		cursor: pointer;
		color: {{=session.button_text_color}};
		background-color: {{=session.button_color}}
	}

	.forecast-table {
		border: 1px solid black;
		border-collapse: collapse;
		overflow: auto;
	}

	/* .forecast-table th {	
		padding: 5px;
		height: 40px;
		font-weight: 500;
		font-size: 13px;
		text-align: right;
		border: 1px solid black;
		color: {{=session.button_text_color}};
		background-color: {{=session.button_color}}
	} */

	/* .forecast-table td {
		height: 30px;
		font-size: 12px;
		text-align: right;
		padding-right: 5px;
		border: 1px solid rgb(194, 194, 194);
	} */

	.forecast-table th:nth-child(1),
    .forecast-table th:nth-child(2) {
        padding: 5px;
		height: 40px;
		font-weight: 500;
		font-size: 13px;
		text-align: right;
		border: 1px solid black;
		color: {{=session.button_text_color}};
		background-color: {{=session.button_color}}
        
    }
    .forecast-table td:nth-child(1),
    .forecast-table td:nth-child(2) {
        height: 30px;
		font-size: 12px;
		text-align: right;
		padding-right: 5px;
		border: 1px solid rgb(194, 194, 194);
        /* background-color: rgba(255, 255, 255, 1); Change the color as needed */
    }

    .forecast-table tr:nth-child(odd) td:nth-child(1),
    .forecast-table tr:nth-child(odd) td:nth-child(2) {
        background-color: {{=session.bg_color}}
    }

    .forecast-table tr:nth-child(even) td:nth-child(1),
    .forecast-table tr:nth-child(even) td:nth-child(2) {
        background-color: #eefaec;
    }

    .forecast-table th:nth-child(n+3) {
        padding: 5px;
		height: 40px;
		font-weight: 500;
		font-size: 13px;
		text-align: right;
		border: 1px solid black;
		color: {{=session.button_text_color}};
		background-color: {{=session.button_color}}
    }
    .forecast-table td:nth-child(n+3) {
        height: 30px;
		font-size: 12px;
		text-align: right;
		padding-right: 5px;
		border: 1px solid rgb(194, 194, 194);
    }

	.forecast-table tr:nth-child(even) {
		background-color: #eefaec;
	}

	input[type=text] {
		height: 20px;
		width: 95px;
		border: 1px solid rgb(204, 204, 204);
		border-radius: 2px;
		background-color: transparent;
		text-align: right;
	}

	input[type=text]::placeholder {
		color: black;
	}

	.submit-btn-row {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.submit-btn-row form {
	/* input[type=submit] { */
		height: 20px;
		width: 60px;
		margin-bottom: 10px;
		padding: 5px 5px 5px 10px;
		font-size: 13px;
		border: 1px solid {{=session.text_color}};
        border-radius: 20px;
		cursor: pointer;
		color: {{=session.button_text_color}};
		background-color: {{=session.button_color}}
	}

	.submit-btn-row input {
		border: 0;
		cursor: pointer;
		color: {{=session.button_text_color}};
		background-color: {{=session.button_color}}
	}
</style>

<script>
	// function checkValue(inputField) {
	// 	if (inputField.value === '') {
	// 		inputField.value = '0'; // Set value to 0 if empty
	// 	}
	// }
</script>
{{end}}

<!-- Back btn row  -->
<!-- <table class="back-btn-row">
    <tr>
        <td>
			{{#if session.user_type == 'admin':}}
				<form action="{{#=URL(c='forcasting_admin',f='forcasting_for_admin')}}" method="post">
					<i class="fa-solid fa-arrow-left"></i>
					<input name="prev_page_btn" type="submit" value="Back"/>
				</form>
			{{#pass}}
        </td>
    </tr>
</table> -->

<!-- Forecast Table -->
{{if session.user_type == 'admin':}} 
	<table class="forecast-table" style="width: 2800px;">
		<form name="form1" action="{{=URL(c='forcasting_admin',f='item_entry_block',vars=dict(month_list=months))}}" method="post">
			<tr class="all_forecast">
				<th style="position: sticky; left: 0; z-index: 1; width: 80px; text-align: left;">Item Code</th>
				<th style="position: sticky; left: 80px; z-index: 1; width: 220px; text-align: left;">Item Name</th>
				<th style="width: 70px; text-align: left;">UoM</th>
				{{for month in months:}}
					<th style="width: 100px;">{{=month}}</th>
				{{pass}}
			</tr>
			
		</form>
	</table>
{{pass}}